body {
	font-family: 'Karla', sans-serif !important;
}
.opa-50 {
	opacity: 0.5;
}

.enabled {
	color: rgba(0, 128, 0, 0.8);
}
.disabled {
	color: rgba(255, 0, 0, 0.8);
}

.login-modal {
	margin-top: 103px;
}
